form {
	margin-top: 10px;
}

label {
	font-size: 16px; 
	width: 100px; 
	display: block; 
	text-align: right;
	margin-right: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}

input {
	width: 450px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}

.save {
	font-weight: bold;
	width: 130px; 
	padding: 5px 10px; 
	margin-top: 30px;
	margin-left: 65px;
	background: #cccccc;
}

.save:hover {
	background: #c0c0c0;
}

.cancel {
	font-weight: bold;
	width: 125px; 
	padding: 5px 10px; 
	margin-top: 30px;
	margin-left: 50px;
	background: #cccccc;
	text-align: center;
}

.cancel:hover {
	background: #c0c0c0;
}


tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #FFFFFF}

tr {
	border-style:none;
	text-align:left;	
}

textarea {
	width: 450px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}